<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css" />
    <title>GRE Online Tutoring</title>
  </head>

  <body>
		<!-- Introduction -->
    <div class="center-template introduction1">
      <h1 class="introduction1">IMPORTANT INSTRUCTIONS ABOUT THE STUDY</h1>
			<p class="introduction1"> </p>
			<p class="lead introduction1">Please answer the questions to the best of your ability.</p>
      <p class="lead introduction1">The award will be distributed based on your performance.</p>

			<p class="introduction1"> </p>
			<p class="lead introduction1">The study should take about 15 minutes.</p>

			<p class="introduction1"> </p>
			<p class="lead introduction1">After completing the study, you will receive a code. </p>
			<p class="lead introduction1">You can paste this code in the Mechanical Turk Study to receive payment.</p>

			<p class="introduction1"> </p>
			<p class="lead introduction1"><strong>PLEASE ENTER YOUR MTURK ID HERE</strong></p>
			<input type="text" class="lead" id="mturk-id">

			<p class="introduction1"> </p>
			<form id="form-introduction1">
				<input class="lead introduction1 form-check-input" type="radio" name="radioName" value="1" /> I understand <br />
			</form>

			<p class="introduction1"></p>
			<small class="lead-small introduction1" id="introduction1-error">Please select the option and enter your Mturk id before proceeding.</small>
			<p class="introduction1"></p>
			<button type="button" class="btn btn-primary introduction1" id="introduction1-button">Proceed</button>
    </div>

    <div class="center-template introduction2">
      <h1 class="introduction2">ABOUT THE TASK</h1>
      <p class="lead introduction2">In this task you will interact with 2 Artificial Intelligence (AI) tutors.</p>
			<p class="lead introduction2">The tutors will walk you through questions from the Graduate Record Examinations (GRE).</p>
			<p class="lead introduction2">We are trying to train our AI tutors to deliver an online GRE tutoring service in the near future.</p>
			<p class="lead introduction2">Specifically, we are focusing on Data Interpretation Questions.</p>
			<p class="lead introduction2">We would like your help in determining whether our AI tutors are adequately trained for the task at hand.</p>

			<form id="form-introduction2">
				<input class="lead introduction2 form-check-input" type="radio" name="radioName" value="1" /> I understand <br />
			</form>

			<p class="introduction2"></p>
			<small class="lead-small introduction2" id="introduction2-error">Please select the option before proceeding.</small>
			<p class="introduction2"></p>
      <button type="button" class="btn btn-primary introduction2" id="introduction2-button">Continue</button>
    </div>

    <div class="center-template introduction3">
      <h1 class="introduction3">PART 1</h1>
      <p class="lead introduction3">You will now meet your first AI tutor.</p>
      <button type="button" class="btn btn-primary introduction3" id="introduction3-button">Continue</button>
    </div>

		<!-- AI Tutor 1 -->
		<div class="center-template first-ai1">
      <h1 id="meet-ai1-header" class="first-ai1">MEET YOUR GRE INSTRUCTOR</h1>

			<div class="card">
				<div class="card-body">
					<img id="first-ai1-img" src="media/Mary.png" height="450" width="230">
					<h5 id="meet-ai1" class="card-title">Meet Mary</h5>
					<p> Let's get started! </p>
				</div>
			</div>

			<p class="lead first-ai1">  </p>
			<button type="button" class="btn btn-primary first-ai1" id="first-ai1-button">Next</button>
		</div>

		<div class="center-template first-ai2">
			<h1 class="first-ai2">Data Interpretation</h1>
			<h3 id="ai1-explanation1" class="lead first-ai2">Tutor: Mary</h3>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai2-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">We will be working on interpreting scatterplots today!</h5>
			        <p class="card-text">The figure on your right is an example of a <strong>Scatterplot</strong>.</p>
							<p class="card-text">In a scatter plot, the values of one variable appear on the horizontal axis of a rectangular coordinate system and the values of the other variable appear on the vertical axis.</p>
							<p class="card-text">For each individual or object in the data, an ordered pair of numbers is collected, one number for each variable, and the pair is represented by a point in the coordinate system.</p>
							<p class="card-text">This scatterplot shows how the finishing time for a certain bike race was related to the amount of physical training in the 3 months leading up to the race.</p>
							<p class="card-text">For example, one point corresponds to about 32 units in Training Index and 3.55 hours in Finishing Time. </p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai2">  </p>
			<button type="button" class="btn btn-primary first-ai2" id="first-ai2-button">Next</button>
		</div>

		<div class="center-template first-ai3">
			<h1 class="first-ai3">Data Interpretation</h1>
			<h3 id="ai1-explanation2" class="lead first-ai3">Tutor: Mary</h3>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai3-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Let’s look at the context of this figure to get a better picture of what is plotted here!</h5>
			        <p class="card-text">This scatterplot pertains to a study where a bicycle trainer studied how the finishing time for a certain bike race was related to the amount of physical training in the 3 months leading up to the race.</p>
							<p class="card-text">To measure the amount of training, the trainer developed a training index based on the intensity of each bicyclist’s training, measured in “units.” In total, the trainer examined the training index and finishing time of 50 bicyclists.</p>
							<p class="card-text">Therefore, each point in the plot represents data of one bicyclist. The point we looked at previously represented a bicyclist who had approximately 32 units of training and finished the race in about 3.55 hours. </p>
						</div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai3">  </p>
			<button type="button" class="btn btn-primary first-ai3" id="first-ai3-button">Next</button>
		</div>

		<div class="center-template first-ai4">
			<h1 class="first-ai4">Data Interpretation</h1>
			<h3 id="ai1-explanation3" class="lead first-ai4">Tutor: Mary</h3>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai4-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Now let’s look at the trend line.</h5>
			        <p class="card-text">A scatterplot makes it possible to observe an overall pattern, or trend, in the relationship between the two variables. In this case, we observe the relationship between Training Index and Finishing Time. </p>
							<p class="card-text">The trend line demonstrates how scattered, or close the data are to the trend line, or to put it another way, how well the trend line fits the data. In our scatterplot, almost all of the data points are close to the trend line.</p>
							<p class="card-text">The trend line shows that the finishing times generally decrease as the training indices increase; it can be written as “vertical variable = slope * horizontal variable + intercept(the value of vertical variable when the horizontal variable has a value of 0).”</p>
							<p class="card-text">With the trend line, we can make predictions about a bicyclist’s finishing time given the training index.</p>
						</div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai4">  </p>
			<button type="button" class="btn btn-primary first-ai4" id="first-ai4-button">Next</button>
		</div>

		<div class="center-template first-ai5">
			<h1 class="first-ai5">Data Interpretation</h1>
			<h3 id="ai1-explanation4" class="lead first-ai5">Tutor: Mary</h3>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai5-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Let's take a look at a sample GRE question!</h5>
			        <p class="card-text"><strong>Question: </strong>According to the trend line, if the difference in the training index of two of the bicyclists was 20 units, what is the predicted difference between finishing time of the two bicyclists?</p>
							<p class="card-text">In order to make the prediction, we must first calculate the slope of the trend line. We see that the trend line passes very close to the points (30, 5.0) and (50, 4.5). What do you think the slope of the trend line is given these two points? Hint: Slope = (Y1 - Y2)/(X1 - X2)</p>
							<form>
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 0.025 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> -0.75 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> -0.025 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> -0.015 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 0 <br />
							</form>
							<p class="card-text">The slope is: (4.5-5.0)/(50-30) = -0.5/20 = -0.025</p>
							<p class="card-text">The slope tells us that for every 1 unit increase in training index, the trend line predicts a decrease in finishing time of approximately 0.025 hours.</p>
						</div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai5">  </p>
			<button type="button" class="btn btn-primary first-ai5" id="first-ai5-button">Next</button>
		</div>

		<div class="center-template first-ai6">
			<h1 class="first-ai6">Data Interpretation</h1>
			<h3 id="ai1-explanation5" class="lead first-ai6">Tutor: Mary</h3>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="first-ai6-img" src="media/Mary.png" height="120" width="120">
							<h5 class="card-title">Putting it together</h5>
							<p class="card-text">The slope tells us that with a 1 unit difference in training index, the trend line predicts a difference in finishing time of approximately 0.025 hours. Now let's go back to the question.</p>
							<p class="card-text"><strong>Question: </strong>According to the trend line, if the difference in the training index of two of the bicyclists was 20 units, what is the predicted difference between finishing time of the two bicyclists?</p>
							<form>
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 0.025 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 0.5 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 1 hour <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 2 hour <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 0 hours<br />
							</form>
							<p class="card-text">The difference in finishing time is 20*0.025 = 0.5 hours, or 30 minutes.</p>
							<strong class="card-text">Now let's test your knowledge.</strong>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
						</div>
					</div>
				</div>
			</div>
			<p class="lead first-ai6">  </p>
			<button type="button" class="btn btn-primary first-ai6" id="first-ai6-button">Next</button>
		</div>

		<!-- AI 1 Questions -->
		<div class="center-template question-ai1">
			<h1 class="question-ai1">QUESTION 1</h1>
			<p class="lead question-ai1">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai1-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Question 1</h5>
			        <p class="card-text">According to the trend line, if the difference in the training index of two of the bicyclists was 40 units, what is the predicted difference between finishing time of the two cyclists?</p>
							<form id="form1-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 hour <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 3 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 1.5 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 2 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 2.5 hours <br />
							</form>

							<p class="lead-small question-ai1"> </p>
							<button type="button" class="btn btn-primary question-ai1" id="submit-q1-button">Submit</button>
							<p class="lead-small question-ai1"> </p>
							<p class="solution-ai1 card-text">According to the trend line, an increase in 1 unit in training index predicts a decrease of 0.025 hours in finishing time. Thus, a difference in training units of 40 predicts a difference of 40 * 0.025 = 1 hour in finishing time.</p>

			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai1">  </p>
			<small class="lead-small question-ai1" id="question-ai1-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai1"> </p>
			<button type="button" class="btn btn-primary question-ai1" id="question-ai1-button">Continue</button>
		</div>

		<div class="center-template question-ai2">
			<h1 class="question-ai2">QUESTION 2</h1>
			<p class="lead question-ai2">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai2-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Question 2</h5>
			        <p class="card-text">If a bicyclist who had 80 units of training finished the race in 3 hours. What is the difference in hours between the bicyclist’s actual finishing time and the predicted finishing time according to the trend line? </p>
							<form id="form2-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 0.25 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 1 hour <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 0.75 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4.5 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 2 hours <br />
							</form>

							<p class="lead-small question-ai2"> </p>
							<button type="button" class="btn btn-primary question-ai2" id="submit-q2-button">Submit</button>
							<p class="lead-small question-ai2"> </p>
							<p class="solution-ai2 card-text">The trendline predicts that a bicyclist who had 80 units of training should finish the race in 3.75 hours, approximately. Therefore the difference between the bicyclist's actual finishing time and the predicted finishing time is 3.75-3=0.75 hours.</p>

			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
						<div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai2">  </p>
			<small class="lead-small question-ai2" id="question-ai2-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai2"> </p>
			<button type="button" class="btn btn-primary question-ai2" id="question-ai2-button">Continue</button>
		</div>

		<div class="center-template question-ai3">
			<h1 class="question-ai3">QUESTION 3</h1>
			<p class="lead question-ai3">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai3-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Question 3</h5>
			        <p class="card-text">For which year did total expenditures increase the most from the year before?</p>
							<form id="form3-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1995 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 1996 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 1997 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 2001 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 2002 <br />
							</form>

							<p class="lead-small question-ai3"> </p>
							<button type="button" class="btn btn-primary question-ai3" id="submit-q3-button">Submit</button>
							<p class="lead-small question-ai3"> </p>
							<p class="solution-ai3 card-text">This is the solution 3.</p>

			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
						<div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai3">  </p>
			<small class="lead-small question-ai3" id="question-ai3-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai3"> </p>
			<button type="button" class="btn btn-primary question-ai3" id="question-ai3-button">Continue</button>
		</div>

		<div class="center-template question-ai4">
			<h1 class="question-ai4">QUESTION 4</h1>
			<p class="lead question-ai4">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai4-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Question 4</h5>
			        <p class="card-text">What is the approximate ratio of the number of workers in the Agricultural category in 2001 to the projected number of such workers in 2015?</p>
							<form id="form4-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 3:4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2:3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 2:5 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 1:4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 2:1 <br />
							</form>

							<p class="lead-small question-ai4"> </p>
							<button type="button" class="btn btn-primary question-ai4" id="submit-q4-button">Submit</button>
							<p class="lead-small question-ai4"> </p>
							<p class="solution-ai4 card-text">This is the solution 4.</p>

			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
						<div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai4">  </p>
			<small class="lead-small question-ai4" id="question-ai4-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai4"> </p>
			<button type="button" class="btn btn-primary question-ai4" id="question-ai4-button">Continue</button>
		</div>

		<!-- AI 1 Survey -->
		<div class="center-template middle1">
      <h1 class="middle1">Evaluation</h1>
      <p class="lead middle1">Please evaluate your interaction with the tutor you just saw.</p>
      <hr class="middle1 form-survey">

      <p class="lead middle1">How well did the tutor explain the concepts?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="concepts-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely poorly</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely well</option>
      </select>
      <p class="lead middle1">  </p>

      <p class="lead middle1">To what extent are you convinced that the information given to you by the tutor is correct?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="correct-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely unconvinced</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely convinced</option>
      </select>
			<p class="lead middle1">  </p>

			<p class="lead middle1">How friendly do you think the tutor is?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="friendly-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely unfriendly</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely friendly</option>
			</select>
			<p class="lead middle1">  </p>

			<p class="lead middle1">How much do you trust the tutor's explanations?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="trust-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely little trust</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Complete trust</option>
			</select>
			<p class="lead middle1">  </p>

			<p class="lead middle1">How relevant was the tutor's explanations to the questions asked?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="relevant-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely irrelevant</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely relevant</option>
			</select>

      <p class="lead middle1">  </p>
      <small class="lead-small middle1" id="middle1-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small middle1"> </p>
      <button type="button" class="btn btn-primary middle1" id="middle1-button">Continue</button>
    </div>

		<!-- Transition -->
		<div class="center-template transition1">
			<h1 class="transition1">PART 2</h1>
			<p class="lead transition1">You will now meet your second AI tutor.</p>
			<button type="button" class="btn btn-primary transition1" id="transition1-button">Continue</button>
		</div>

		<!-- AI 2 -->
		<div class="center-template second-ai1">
      <h1 id="meet-ai2-header" class="second-ai1">MEET YOUR GRE INSTRUCTOR</h1>

			<div class="card">
				<div class="card-body">
					<img id="second-ai1-img" src="media/James.png" height="450" width="230">
					<h5 id="meet-ai2" class="card-title">Meet James</h5>
					<p> Let's begin! </p>
				</div>
			</div>

			<p class="lead second-ai1">  </p>
			<button type="button" class="btn btn-primary second-ai1" id="second-ai1-button">Next</button>
		</div>

		<div class="center-template second-ai2">
			<h1 class="second-ai2">Data Interpretation</h1>
			<h3 id="ai2-explanation1" class="lead second-ai2">Tutor: James</h3>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai2-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">I will be walking you through <strong>circle graphs</strong> today!</h5>
							<p class="card-text">On your right is an example of circle graphs, or pie charts. This type of graph is commonly used to represent data with a relatively small number of categories.</p>
							<p class="card-text">They illustrate how a whole is separated into parts. The data is represented in a circle such that the area of the circle representing each category is proportional to the part of the whole that the category represents.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai2">  </p>
			<button type="button" class="btn btn-primary second-ai2" id="second-ai2-button">Next</button>
		</div>

		<div class="center-template second-ai3">
			<h1 class="second-ai3">Data Interpretation</h1>
			<h3 id="ai2-explanation2" class="lead second-ai3">Tutor: James</h3>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai3-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Some more details</h5>
							<p class="card-text">For example, the pie charts on your right demonstrate 1) the workforce distribution by occupational category for Region Y in 2001, and 2) the projected workforce distribution by occupational category in the same region in 2015.</p>
							<p class="card-text">In 2015, the pie chart shows that Manufacturing was 20% of the workforce. This means that the area occupied by manufacturing in the pie is 20% of the total area of the pie, or 35 million people.</p>
							<p class="card-text">Each part of a circle graph is called a sector. Because the area of each sector is proportional to the percent of the whole that the sector represents, the measure of the central angle of a sector is proportional to the percent of 360 degrees that the sector represents.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai3">  </p>
			<button type="button" class="btn btn-primary second-ai3" id="second-ai3-button">Next</button>
		</div>

		<div class="center-template second-ai4">
			<h1 class="second-ai4">Data Interpretation</h1>
			<h3 id="ai2-explanation3" class="lead second-ai3">Tutor: James</h3>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai4-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Let's do a question!</h5>
							<p class="card-text"><strong>Question: </strong> Question1: What is the ratio of the number of workers in the Professional category in 2001 to the projected number of such workers in 2015?</p>
							<p class="card-text">In order to find the answer, we need to calculate the number of Professional workers in 2001. What do you think this is?</p>
							<form>
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 10 million <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 15 million <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 1.5 million <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 2 million <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 4 million <br />
							</form>
							<p class="card-text">The number of Professional workers in 2001 is 0.01*150 million = 1.5 million</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai4">  </p>
			<button type="button" class="btn btn-primary second-ai4" id="second-ai4-button">Next</button>
		</div>

		<div class="center-template second-ai5">
			<h1 class="second-ai5">Data Interpretation</h1>
			<h3 id="ai2-explanation4" class="lead second-ai4">Tutor: James</h3>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai5-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Putting it together</h5>
							<p class="card-text">The number of professional workers is 1.5 million in 2001 and 3.5 million in 2001 (0.02*175). Now let's go back to the question.</p>
							<p class="card-text"><strong>Question: </strong> Question1: What is the ratio of the number of workers in the Professional category in 2001 to the projected number of such workers in 2015?</p>
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1.5:3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 3:4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 1:2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 3:7 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 1:3 <br />
							</form>
							<p class="card-text">The ratio is 1.5:3.5, which is (1.5*2):(3.5*2), which is 3:7</p>
							<strong class="card-text">Now let's test your knowledge.</strong>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai5">  </p>
			<button type="button" class="btn btn-primary second-ai5" id="second-ai5-button">Next</button>
		</div>

		<!-- AI 2 Questions -->
		<div class="center-template question-ai5">
			<h1 class="question-ai5">QUESTION 1</h1>
			<p class="lead question-ai5">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai5-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Question 1</h5>
							<p class="card-text">What is the ratio of the number of workers in the Agricultural category in 2001 to the projected number of such workers in 2015?</p>
							<form id="form1-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 18:24 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 27:42 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 10:24 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 15:18 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 2:3 <br />
							</form>

							<p class="lead-small question-ai5"> </p>
							<button type="button" class="btn btn-primary question-ai5" id="submit-q5-button">Submit</button>
							<p class="lead-small question-ai5"> </p>
							<p class="solution-ai5 card-text">The number of workers in Agricultural category is 150 * 0.18 = 27 million in 2001, and 175 * 0.24 = 42 million in 2015. So the ratio is 27:42.</p>

						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai5">  </p>
			<small class="lead-small question-ai5" id="question-ai5-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai5"> </p>
			<button type="button" class="btn btn-primary question-ai5" id="question-ai5-button">Continue</button>
		</div>

		<div class="center-template question-ai6">
			<h1 class="question-ai6">QUESTION 2</h1>
			<p class="lead question-ai6">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai6-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Question 2</h5>
							<p class="card-text">From 2001 to 2015, there is a projected increase in the number of workers in which of the following categories?</p>
							<form id="form2-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> Sales <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> Service <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> Clerical <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> All of the above <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> None of the above <br />
							</form>

							<p class="lead-small question-ai6"> </p>
							<button type="button" class="btn btn-primary question-ai6" id="submit-q6-button">Submit</button>
							<p class="lead-small question-ai6"> </p>
							<p class="solution-ai6 card-text">There is an increase in all of the above categories. Increase in Sales => 175*0.07 - 150*0.08 = 0.25 million; Increase in Service => 175*0.16 - 150*0.15 = 5.5 million; Increase in Clerical => 175*0.18 - 150*0.20 = 1.5 million.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai6">  </p>
			<small class="lead-small question-ai6" id="question-ai6-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai6"> </p>
			<button type="button" class="btn btn-primary question-ai6" id="question-ai6-button">Continue</button>
		</div>

		<div class="center-template question-ai7">
			<h1 class="question-ai7">QUESTION 3</h1>
			<p class="lead question-ai7">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai7-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Question 3</h5>
							<p class="card-text">For the students in this trial with the two highest scores, approximately what is the average number of hours they spend studying?</p>
							<form id="form3-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 45 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 15 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 85 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 37 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 74 <br />
							</form>

							<p class="lead-small question-ai7"> </p>
							<button type="button" class="btn btn-primary question-ai7" id="submit-q7-button">Submit</button>
							<p class="lead-small question-ai7"> </p>
							<p class="solution-ai7 card-text">This is the solution 7.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai7">  </p>
			<small class="lead-small question-ai7" id="question-ai7-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai7"> </p>
			<button type="button" class="btn btn-primary question-ai7" id="question-ai7-button">Continue</button>
		</div>

		<div class="center-template question-ai8">
			<h1 class="question-ai8">QUESTION 4</h1>
			<p class="lead question-ai8">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai8-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Question 4</h5>
							<p class="card-text">Of the seven categories listed, which category of expenditure had the greatest percent increase from 2003 to 2004?</p>
							<form id="form4-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> Food <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> Miscellaneous <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> Services <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> Savings <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> Utilities <br />
							</form>

							<p class="lead-small question-ai8"> </p>
							<button type="button" class="btn btn-primary question-ai8" id="submit-q8-button">Submit</button>
							<p class="lead-small question-ai8"> </p>
							<p class="solution-ai8 card-text">This is the solution 8.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai8">  </p>
			<small class="lead-small question-ai8" id="question-ai8-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai8"> </p>
			<button type="button" class="btn btn-primary question-ai8" id="question-ai8-button">Continue</button>
		</div>

		<!-- AI 2 Survey -->
		<div class="center-template middle2">
      <h1 class="middle2">Evaluation</h1>
      <p class="lead middle2">Please evaluate your interaction with the tutor you just saw.</p>
      <hr class="middle2 form-survey">

      <p class="lead middle2">How well did the tutor explain the concepts?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="concepts-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely poorly</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely well</option>
      </select>
      <p class="lead middle2">  </p>

      <p class="lead middle2">To what extent are you convinced that the information given to you by the tutor is correct?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="correct-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely unconvinced</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely convinced</option>
      </select>
			<p class="lead middle2">  </p>

			<p class="lead middle2">How friendly do you think the tutor is?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="friendly-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely unfriendly</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely friendly</option>
			</select>
			<p class="lead middle2">  </p>

			<p class="lead middle2">How much do you trust the tutor's explanations?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="trust-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely little trust</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Complete trust</option>
			</select>
			<p class="lead middle2">  </p>

			<p class="lead middle2">How relevant was the tutor's explanations to the questions asked?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="relevant-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely irrelevant</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely relevant</option>
			</select>

      <p class="lead middle2">  </p>
      <small class="lead-small middle2" id="middle2-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small middle2"> </p>
      <button type="button" class="btn btn-primary middle2" id="middle2-button">Continue</button>
    </div>

		<!-- Overall Survey -->
    <div class="center-template end1">
      <h1 class="end1">Overall Evaluation</h1>
      <p class="lead end1">Please answer the following questions.</p>
      <hr class="end1 form-survey">

      <p class="lead end1">Which tutor did you prefer?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="prefer-end1">
        <option value="0" selected>Select an option</option>
        <option value="Mary">Mary</option>
        <option value="James">James</option>
				<option value="Equal">Both equally</option>
      </select>
			<p class="lead end1">  </p>

			<p class="lead end1">Which tutor covered a more difficult topic?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="difficult-end1">
				<option value="0" selected>Select an option</option>
				<option value="Mary">Mary</option>
				<option value="James">James</option>
				<option value="Equal">Both equally</option>
			</select>
			<p class="lead end1">  </p>

			<p class="lead end1">Which tutor needs more improvement in their explanations?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="improvement-end1">
				<option value="0" selected>Select an option</option>
				<option value="Mary">Mary</option>
				<option value="James">James</option>
				<option value="Equal">Both equally</option>
			</select>
			<p class="lead end1">  </p>

			<p class="lead end1">(Optional) Why do you think so?</p>
			<input type="text" class="lead" id="why-end1">

			<p class="lead end1">(Optional) Please share your thoughts about the experiment or the tutors here.</p>
			<input type="text" class="lead" id="thoughts-end1">

      <p class="lead end1">  </p>
      <small class="lead-small end1" id="end1-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small end1"> </p>
      <button type="button" class="btn btn-primary end1" id="end1-button">Continue</button>
    </div>

		<!-- Demographic Information -->
		<div class="center-template end2">
      <h1 class="end2">DEMOGRAPHIC INFORMATION</h1>
      <p class="lead end2">Please answer the following questions. Note that you may have to scroll down to see all questions.</p>
      <hr class="end2 form-survey">

      <p class="lead end2">Please indicate your gender</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="gender-end2">
        <option value="0" selected>Select an option</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
				<option value="Other">Other</option>
      </select>

			<p class="lead end2">  </p>
			<p class="lead end2">Please indicate your age</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="age-end2">
				<option value="0" selected>Select an option</option>
				<option value="<15">Less than 15</option>
				<option value="15-20">15 to 20</option>
				<option value="21-25">21 to 25</option>
				<option value="26-30">26 to 30</option>
				<option value="31-35">31 to 35</option>
				<option value="36-40">36 to 40</option>
				<option value="41-45">41 to 45</option>
				<option value="46-50">46 to 50</option>
				<option value="51-60">51 to 60</option>
				<option value="61-70">61 to 70</option>
				<option value=">70">More than 70</option>
				</select>
			</select>

			<p class="lead end2">Please indicate your ethnicity</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="ethnicity-end2">
				<option selected value="0">Select an option</option>
				<option value="1">Hispanic or Latino</option>
				<option value="2">Black or African American</option>
				<option value="3">White</option>
				<option value="4">Native American or American Indian</option>
				<option value="5">Asian</option>
				<option value="6">Pacific Islander</option>
				<option value="7">Other</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">Have you taken the GRE before?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="gre-end2">
				<option value="0" selected>Select an option</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">Please indicate the highest level of education you have completed? If currently enrolled, highest degree received.</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="education-end2">
				<option selected value="0">Select an option</option>
				<option value="1">No schooling completed</option>
				<option value="2">Some high school, no diploma</option>
				<option value="3">High school graduate, diploma or the equivalent (for example: GED)</option>
				<option value="4">Some college credit, no degree</option>
				<option value="5">Trade/technical/vocational training</option>
				<option value="6">Associate degree</option>
				<option value="7">Bachelor's degree</option>
				<option value="8">Master's degree</option>
				<option value="9">Professional degree</option>
				<option value="10">Doctorate degree</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">How familiar were you with the material presented by the tutors before today?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="familiar-end2">
				<option selected value="0">Select an option</option>
				<option value="1">1 - Extremely Unfamiliar</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7 - Extremely Familiar</option>
			</select>

      <p class="lead end2">  </p>
      <small class="lead-small end2" id="end2-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small end2"> </p>
      <button type="button" class="btn btn-primary end2" id="end2-button">Continue</button>
    </div>

		<!-- End -->
    <div class="center-template end3">
      <h1 class="end3">End of study</h1>
			<p class"end3"> </p>
			<h2 id="code" class="end3">Your code</h2>
			<p class"end3"> </p>
			<p class="lead end3">Please paste this code in Mechanical Turk.</p>
      <p class="lead end3">The study has ended. Thank you for your participation</p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts.js"></script>
  </body>

</html>
