<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css" />
    <title>GRE Online Tutoring</title>
  </head>

  <body>
		<!-- Introduction -->
    <div class="center-template introduction1">
      <h1 class="introduction1">IMPORTANT INSTRUCTIONS ABOUT THE STUDY</h1>
			<p class="introduction1"></p>
			<p class="lead introduction1">Please answer the questions to the best of your ability.</p>
      <p class="lead introduction1">The award will be distributed based on your performance.</p>
			<p class="introduction1"></p>
			<p class="lead introduction1">The study should take about 15 minutes.</p>

			<p class="introduction1"></p>
			<p class="lead introduction1">After completing the study, you will receive a code. </p>
			<p class="lead introduction1">You can paste in the Mechanical Turk Study to receive payment.</p>

			<form id="form-introduction1">
				<input class="lead introduction1 form-check-input" type="radio" name="radioName" value="1" /> I understand <br />
			</form>

			<p class="introduction1"></p>
			<small class="lead-small introduction1" id="introduction1-error">Please select the option before proceeding.</small>
			<p class="introduction1"></p>
			<button type="button" class="btn btn-primary introduction1" id="introduction1-button">Proceed</button>
    </div>

    <div class="center-template introduction2">
      <h1 class="introduction2">ABOUT THE TASK</h1>
      <p class="lead introduction2">The task to be completed is as follows.</p>
      <button type="button" class="btn btn-primary introduction2" id="introduction2-button">Continue</button>
    </div>

    <div class="center-template introduction3">
      <h1 class="introduction3">PART 1</h1>
      <p class="lead introduction3">You will now meet your first AI tutor.</p>
      <button type="button" class="btn btn-primary introduction3" id="introduction3-button">Continue</button>
    </div>

		<!-- AI Tutor 1 -->
		<div class="center-template first-ai1">
      <h1 id="meet-ai1-header" class="first-ai1">MEET YOUR GRE INSTRUCTOR</h1>

			<div class="card">
				<div class="card-body">
					<img id="first-ai1-img" src="media/Mary.png" height="450" width="230">
					<h5 id="meet-ai1" class="card-title">Meet Mary</h5>
					<p> Let's get started! </p>
				</div>
			</div>

			<p class="lead first-ai1">  </p>
			<button type="button" class="btn btn-primary first-ai1" id="first-ai1-button">Next</button>
		</div>

		<div class="center-template first-ai2">
			<h1 class="first-ai2">THE FIRST TASK</h1>
			<p class="lead first-ai2">The first task is with the first AI.</p>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai2-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 1</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai2">  </p>
			<button type="button" class="btn btn-primary first-ai2" id="first-ai2-button">Next</button>
		</div>

		<div class="center-template first-ai3">
			<h1 class="first-ai3">NEXT TASK</h1>
			<p class="lead first-ai3">The first task is with the first AI.</p>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai3-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 2</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai3">  </p>
			<button type="button" class="btn btn-primary first-ai3" id="first-ai3-button">Next</button>
		</div>

		<div class="center-template first-ai4">
			<h1 class="first-ai4">NEXT TASK</h1>
			<p class="lead first-ai4">The first task is with the first AI.</p>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai4-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 3</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai4">  </p>
			<button type="button" class="btn btn-primary first-ai4" id="first-ai4-button">Next</button>
		</div>

		<div class="center-template first-ai5">
			<h1 class="first-ai5">NEXT TASK</h1>
			<p class="lead first-ai5">The first task is with the first AI.</p>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai5-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 4</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai5">  </p>
			<button type="button" class="btn btn-primary first-ai5" id="first-ai5-button">Next</button>
		</div>

		<!-- AI 1 Questions -->
		<div class="center-template question-ai1">
			<h1 class="question-ai1">QUESTION 1</h1>
			<p class="lead question-ai1">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai1-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Question 1</h5>
			        <p class="card-text">According to the trend line, if the difference in the training index of two of the bicyclists was 40 units, what is the predicted difference between finishing time of the two cyclists?</p>
							<form id="form1-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 hour <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 3 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 0.5 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 2 hours <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 2.5 hours <br />
							</form>

							<p class="lead-small question-ai1"> </p>
							<button type="button" class="btn btn-primary question-ai1" id="submit-q1-button">Submit</button>
							<p class="lead-small question-ai1"> </p>
							<p class="solution-ai1 card-text">This is the solution 1.</p>

			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai1">  </p>
			<small class="lead-small question-ai1" id="question-ai1-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai1"> </p>
			<button type="button" class="btn btn-primary question-ai1" id="question-ai1-button">Continue</button>
		</div>

		<div class="center-template question-ai2">
			<h1 class="question-ai2">QUESTION 2</h1>
			<p class="lead question-ai2">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai2-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Question 2</h5>
			        <p class="card-text">Approximately what was the ratio of the value of sensitized goods to the value of still-picture equipment produced in 1971 in the United States? </p>
							<form id="form2-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 2:1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 3:1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 4:1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 1:2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 1:1 <br />
							</form>

							<p class="lead-small question-ai2"> </p>
							<button type="button" class="btn btn-primary question-ai2" id="submit-q2-button">Submit</button>
							<p class="lead-small question-ai2"> </p>
							<p class="solution-ai2 card-text">This is the solution 2.</p>

			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
						<div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai2">  </p>
			<small class="lead-small question-ai2" id="question-ai2-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai2"> </p>
			<button type="button" class="btn btn-primary question-ai2" id="question-ai2-button">Continue</button>
		</div>

		<div class="center-template question-ai3">
			<h1 class="question-ai3">QUESTION 3</h1>
			<p class="lead question-ai3">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai3-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Question 3</h5>
			        <p class="card-text">For which year did total expenditures increase the most from the year before?</p>
							<form id="form3-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1995 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 1996 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 1997 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 2001 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 2002 <br />
							</form>

							<p class="lead-small question-ai3"> </p>
							<button type="button" class="btn btn-primary question-ai3" id="submit-q3-button">Submit</button>
							<p class="lead-small question-ai3"> </p>
							<p class="solution-ai3 card-text">This is the solution 3.</p>

			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
						<div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai3">  </p>
			<small class="lead-small question-ai3" id="question-ai3-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai3"> </p>
			<button type="button" class="btn btn-primary question-ai3" id="question-ai3-button">Continue</button>
		</div>

		<div class="center-template question-ai4">
			<h1 class="question-ai4">QUESTION 4</h1>
			<p class="lead question-ai4">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai4-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Question 4</h5>
			        <p class="card-text">What is the approximate ratio of the number of workers in the Agricultural category in 2001 to the projected number of such workers in 2015?</p>
							<form id="form4-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 3:4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2:3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 2:5 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 1:4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 2:1 <br />
							</form>

							<p class="lead-small question-ai4"> </p>
							<button type="button" class="btn btn-primary question-ai4" id="submit-q4-button">Submit</button>
							<p class="lead-small question-ai4"> </p>
							<p class="solution-ai4 card-text">This is the solution 4.</p>

			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
						<div class="card-body">
							<img src="media/ai1-figure.png" height="500" width="500">
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai4">  </p>
			<small class="lead-small question-ai4" id="question-ai4-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai4"> </p>
			<button type="button" class="btn btn-primary question-ai4" id="question-ai4-button">Continue</button>
		</div>

		<!-- AI 1 Survey -->
		<div class="center-template middle1">
      <h1 class="middle1">Evaluation</h1>
      <p class="lead middle1">Please evaluate your interaction with the tutor you just saw.</p>
      <hr class="middle1 form-survey">

      <p class="lead middle1">How well did the tutor explain the concepts?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="concepts-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely poorly</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely well</option>
      </select>
      <p class="lead middle1">  </p>

      <p class="lead middle1">To what extent are you convinced that the information given to you by the tutor is correct?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="correct-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely unconvinced</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely convinced</option>
      </select>
			<p class="lead middle1">  </p>

			<p class="lead middle1">How friendly do you think the tutor is?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="friendly-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely unfriendly</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely friendly</option>
			</select>
			<p class="lead middle1">  </p>

			<p class="lead middle1">How much do you trust the tutor's explanations?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="trust-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely little trust</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Complete trust</option>
			</select>
			<p class="lead middle1">  </p>

			<p class="lead middle1">How relevant was the tutor's explanations to the questions asked?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="relevant-middle1">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely irrelevant</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely relevant</option>
			</select>

      <p class="lead middle1">  </p>
      <small class="lead-small middle1" id="middle1-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small middle1"> </p>
      <button type="button" class="btn btn-primary middle1" id="middle1-button">Continue</button>
    </div>

		<!-- Transition -->
		<div class="center-template transition1">
			<h1 class="transition1">PART 2</h1>
			<p class="lead transition1">You will now meet your second AI tutor.</p>
			<button type="button" class="btn btn-primary transition1" id="transition1-button">Continue</button>
		</div>

		<!-- AI 2 -->
		<div class="center-template second-ai1">
      <h1 id="meet-ai2-header" class="second-ai1">MEET YOUR GRE INSTRUCTOR</h1>

			<div class="card">
				<div class="card-body">
					<img id="second-ai1-img" src="media/James.png" height="450" width="230">
					<h5 id="meet-ai2" class="card-title">Meet James</h5>
					<p> Let's begin! </p>
				</div>
			</div>

			<p class="lead second-ai1">  </p>
			<button type="button" class="btn btn-primary second-ai1" id="second-ai1-button">Next</button>
		</div>

		<div class="center-template second-ai2">
			<h1 class="second-ai2">THE SECOND TASK</h1>
			<p class="lead second-ai2">The second task is with the second AI.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai2-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 1</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai2">  </p>
			<button type="button" class="btn btn-primary second-ai2" id="second-ai2-button">Next</button>
		</div>

		<div class="center-template second-ai3">
			<h1 class="second-ai3">NEXT TASK</h1>
			<p class="lead second-ai3">The second task is with the second AI.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai3-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 2</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai3">  </p>
			<button type="button" class="btn btn-primary second-ai3" id="second-ai3-button">Next</button>
		</div>

		<div class="center-template second-ai4">
			<h1 class="second-ai4">NEXT TASK</h1>
			<p class="lead second-ai4">The second task is with the second AI.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai4-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 3</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai4">  </p>
			<button type="button" class="btn btn-primary second-ai4" id="second-ai4-button">Next</button>
		</div>

		<div class="center-template second-ai5">
			<h1 class="second-ai5">NEXT TASK</h1>
			<p class="lead second-ai5">The second task is with the second AI.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai5-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 4</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai5">  </p>
			<button type="button" class="btn btn-primary second-ai5" id="second-ai5-button">Next</button>
		</div>

		<!-- AI 2 Questions -->
		<div class="center-template question-ai5">
			<h1 class="question-ai5">QUESTION 1</h1>
			<p class="lead question-ai5">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai5-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Question 1</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form1-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>

							<p class="lead-small question-ai5"> </p>
							<button type="button" class="btn btn-primary question-ai5" id="submit-q5-button">Submit</button>
							<p class="lead-small question-ai5"> </p>
							<p class="solution-ai5 card-text">This is the solution 5.</p>

						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai5">  </p>
			<small class="lead-small question-ai5" id="question-ai5-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai5"> </p>
			<button type="button" class="btn btn-primary question-ai5" id="question-ai5-button">Continue</button>
		</div>

		<div class="center-template question-ai6">
			<h1 class="question-ai6">QUESTION 2</h1>
			<p class="lead question-ai6">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai6-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Question 2</h5>
							<p class="card-text">In a survey of 250 European travelers, 93 have traveled to Africa, 155 have traveled to Asia, and of these two groups, 70 have traveled to both continents.</p>
							<p class="card-text">How many of the travelers surveyed have traveled to Africa but not to Asia?</p>
							<form id="form2-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 93 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 70 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 23 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 155 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 250 <br />
							</form>

							<p class="lead-small question-ai6"> </p>
							<button type="button" class="btn btn-primary question-ai6" id="submit-q6-button">Submit</button>
							<p class="lead-small question-ai6"> </p>
							<p class="solution-ai6 card-text">This is the solution 6.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai6">  </p>
			<small class="lead-small question-ai6" id="question-ai6-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai6"> </p>
			<button type="button" class="btn btn-primary question-ai6" id="question-ai6-button">Continue</button>
		</div>

		<div class="center-template question-ai7">
			<h1 class="question-ai7">QUESTION 3</h1>
			<p class="lead question-ai7">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai7-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Question 3</h5>
							<p class="card-text">For the students in this trial with the two highest scores, approximately what is the average number of hours they spend studying?</p>
							<form id="form3-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 45 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 15 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 85 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 37 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 74 <br />
							</form>

							<p class="lead-small question-ai7"> </p>
							<button type="button" class="btn btn-primary question-ai7" id="submit-q7-button">Submit</button>
							<p class="lead-small question-ai7"> </p>
							<p class="solution-ai7 card-text">This is the solution 7.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai7">  </p>
			<small class="lead-small question-ai7" id="question-ai7-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai7"> </p>
			<button type="button" class="btn btn-primary question-ai7" id="question-ai7-button">Continue</button>
		</div>

		<div class="center-template question-ai8">
			<h1 class="question-ai8">QUESTION 4</h1>
			<p class="lead question-ai8">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai8-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Question 4</h5>
							<p class="card-text">Of the seven categories listed, which category of expenditure had the greatest percent increase from 2003 to 2004?</p>
							<form id="form4-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> Food <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> Miscellaneous <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> Services <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> Savings <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> Utilities <br />
							</form>

							<p class="lead-small question-ai8"> </p>
							<button type="button" class="btn btn-primary question-ai8" id="submit-q8-button">Submit</button>
							<p class="lead-small question-ai8"> </p>
							<p class="solution-ai8 card-text">This is the solution 8.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img src="media/ai2-figure.png" height="300" width="600">
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai8">  </p>
			<small class="lead-small question-ai8" id="question-ai8-error">Please select an option and click 'Submit' before proceeding.</small>
			<p class="lead-small question-ai8"> </p>
			<button type="button" class="btn btn-primary question-ai8" id="question-ai8-button">Continue</button>
		</div>

		<!-- AI 2 Survey -->
		<div class="center-template middle2">
      <h1 class="middle2">Evaluation</h1>
      <p class="lead middle2">Please evaluate your interaction with the tutor you just saw.</p>
      <hr class="middle2 form-survey">

      <p class="lead middle2">How well did the tutor explain the concepts?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="concepts-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely poorly</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely well</option>
      </select>
      <p class="lead middle2">  </p>

      <p class="lead middle2">To what extent are you convinced that the information given to you by the tutor is correct?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="correct-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely unconvinced</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely convinced</option>
      </select>
			<p class="lead middle2">  </p>

			<p class="lead middle2">How friendly do you think the tutor is?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="friendly-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely unfriendly</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely friendly</option>
			</select>
			<p class="lead middle2">  </p>

			<p class="lead middle2">How much do you trust the tutor's explanations?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="trust-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely little trust</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Complete trust</option>
			</select>
			<p class="lead middle2">  </p>

			<p class="lead middle2">How relevant was the tutor's explanations to the questions asked?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="relevant-middle2">
				<option selected value="0">Select an option</option>
				<option value="1">1-Extremely irrelevant</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7-Extremely relevant</option>
			</select>

      <p class="lead middle2">  </p>
      <small class="lead-small middle2" id="middle2-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small middle2"> </p>
      <button type="button" class="btn btn-primary middle2" id="middle2-button">Continue</button>
    </div>

		<!-- Overall Survey -->
    <div class="center-template end1">
      <h1 class="end1">OVERALL SURVEY</h1>
      <p class="lead end1">Please answer the following questions.</p>
      <hr class="end1 form-survey">

      <p class="lead end1">Which tutor did you prefer?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="prefer-end1">
        <option value="0" selected>Select an option</option>
        <option value="Mary">Mary</option>
        <option value="James">James</option>
      </select>
			<p class="lead end1">  </p>

			<p class="lead end1">(Optional) Why do you think so?</p>
			<input type="text" class="lead" id="why-end1">

			<p class="lead end1">(Optional) Please share your thoughts about the experiment or the tutors here.</p>
			<input type="text" class="lead" id="thoughts-end1">

      <p class="lead end1">  </p>
      <small class="lead-small end1" id="end1-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small end1"> </p>
      <button type="button" class="btn btn-primary end1" id="end1-button">Continue</button>
    </div>

		<!-- Demographic Information -->
		<div class="center-template end2">
      <h1 class="end2">DEMOGRAPHIC INFORMATION</h1>
      <p class="lead end2">Please answer the following questions. Note that you may have to scroll down to see all questions.</p>
      <hr class="end2 form-survey">

      <p class="lead end2">Please indicate your gender</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="gender-end2">
        <option value="0" selected>Select an option</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
				<option value="Other">Other</option>
      </select>

			<p class="lead end2">  </p>
			<p class="lead end2">Please indicate your age</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="age-end2">
				<option value="0" selected>Select an option</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>

			<p class="lead end2">Please indicate your ethnicity</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="ethnicity-end2">
				<option selected value="0">Select an option</option>
				<option value="1">Hispanic or Latino</option>
				<option value="2">Black or African American</option>
				<option value="3">White</option>
				<option value="4">Native American or American Indian</option>
				<option value="5">Asian</option>
				<option value="6">Pacific Islander</option>
				<option value="7">Other</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">Have you taken the GRE before?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="gre-end2">
				<option value="0" selected>Select an option</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">Please indicate the highest level of education you have completed? If currently enrolled, highest degree received.</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="education-end2">
				<option selected value="0">Select an option</option>
				<option value="1">No schooling completed</option>
				<option value="2">Some high school, no diploma</option>
				<option value="3">High school graduate, diploma or the equivalent (for example: GED)</option>
				<option value="4">Some college credit, no degree</option>
				<option value="5">Trade/technical/vocational training</option>
				<option value="6">Associate degree</option>
				<option value="7">Bachelor's degree</option>
				<option value="8">Master's degree</option>
				<option value="9">Professional degree</option>
				<option value="10">Doctorate degree</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">How familiar were you with the material presented by the tutors before today?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="familiar-end2">
				<option selected value="0">Select an option</option>
				<option value="1">1 - Extremely Unfamiliar</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7 - Extremely Familiar</option>
			</select>

      <p class="lead end2">  </p>
      <small class="lead-small end2" id="end2-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small end2"> </p>
      <button type="button" class="btn btn-primary end2" id="end2-button">Continue</button>
    </div>

		<!-- End -->
    <div class="center-template end3">
      <h1 class="end3">END</h1>
      <p class="lead end3">The study has ended. Thank you for your participation</p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts.js"></script>
  </body>

</html>
