<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css" />
    <title>GRE Online Tutoring</title>
  </head>

  <body>
    <div class="center-template introduction1">
      <h1 class="introduction1">IMPORTANT INSTRUCTIONS</h1>
      <p class="lead introduction1">Here are some important instructions.</p>
      <button type="button" class="btn btn-primary introduction1" id="introduction1-button">I Understand, Proceed</button>
    </div>

    <div class="center-template introduction2">
      <h1 class="introduction2">ABOUT THE TASK</h1>
      <p class="lead introduction2">The task to be completed is as follows.</p>
      <button type="button" class="btn btn-primary introduction2" id="introduction2-button">Continue</button>
    </div>

    <div class="center-template introduction3">
      <h1 class="introduction3">THE FIRST TASK</h1>
      <p class="lead introduction3">The first task is with the first AI.</p>
      <button type="button" class="btn btn-primary introduction3" id="introduction3-button">Continue</button>
    </div>

		<div class="center-template first-ai1">
      <h1 class="first-ai1">MEET YOUR TUTOR</h1>
      <p class="lead first-ai1">The first task is with the first AI.</p>
      <button type="button" class="btn btn-primary first-ai1" id="first-ai1-button">Continue</button>
    </div>

		<div class="center-template first-ai2">
			<h1 class="first-ai2">THE FIRST TASK</h1>
			<p class="lead first-ai2">The first task is with the first AI.</p>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai2-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 1</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai2">  </p>
			<button type="button" class="btn btn-primary first-ai2" id="first-ai2-button">Next</button>
		</div>

		<div class="center-template first-ai3">
			<h1 class="first-ai3">NEXT TASK</h1>
			<p class="lead first-ai3">The first task is with the first AI.</p>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai3-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 2</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai3">  </p>
			<button type="button" class="btn btn-primary first-ai3" id="first-ai3-button">Next</button>
		</div>

		<div class="center-template first-ai4">
			<h1 class="first-ai4">NEXT TASK</h1>
			<p class="lead first-ai4">The first task is with the first AI.</p>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai4-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 3</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai4">  </p>
			<button type="button" class="btn btn-primary first-ai4" id="first-ai4-button">Next</button>
		</div>

		<div class="center-template first-ai5">
			<h1 class="first-ai5">NEXT TASK</h1>
			<p class="lead first-ai5">The first task is with the first AI.</p>
			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="first-ai5-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 4</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead first-ai5">  </p>
			<button type="button" class="btn btn-primary first-ai5" id="first-ai5-button">Next</button>
		</div>

		<div class="center-template question-ai1">
			<h1 class="question-ai1">QUESTION 1</h1>
			<p class="lead question-ai1">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai1-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 4</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form1-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai1">  </p>
			<small class="lead-small question-ai1" id="question-ai1-error">Please select an option before proceeding.</small>
			<p class="lead-small question-ai1"> </p>
			<button type="button" class="btn btn-primary question-ai1" id="question-ai1-button">Continue</button>
		</div>

		<div class="center-template question-ai2">
			<h1 class="question-ai2">QUESTION 2</h1>
			<p class="lead question-ai2">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai2-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 4</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form2-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai2">  </p>
			<small class="lead-small question-ai2" id="question-ai2-error">Please select an option before proceeding.</small>
			<p class="lead-small question-ai2"> </p>
			<button type="button" class="btn btn-primary question-ai2" id="question-ai2-button">Continue</button>
		</div>

		<div class="center-template question-ai3">
			<h1 class="question-ai3">QUESTION 3</h1>
			<p class="lead question-ai3">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai3-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 4</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form3-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai3">  </p>
			<small class="lead-small question-ai3" id="question-ai3-error">Please select an option before proceeding.</small>
			<p class="lead-small question-ai3"> </p>
			<button type="button" class="btn btn-primary question-ai3" id="question-ai3-button">Continue</button>
		</div>

		<div class="center-template question-ai4">
			<h1 class="question-ai4">QUESTION 4</h1>
			<p class="lead question-ai4">Please answer the question below</p>

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
							<img id="question-ai4-img" src="media/Mary.png" height="120" width="120">
			        <h5 class="card-title">Explanation 4</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form4-ai1">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      </div>
			    </div>
			  </div>
			</div>

			<p class="lead question-ai4">  </p>
			<small class="lead-small question-ai4" id="question-ai4-error">Please select an option before proceeding.</small>
			<p class="lead-small question-ai4"> </p>
			<button type="button" class="btn btn-primary question-ai4" id="question-ai4-button">Continue</button>
		</div>

		<div class="center-template middle1">
      <h1 class="middle1">1st AI SURVEY</h1>
      <p class="lead middle1">Here are a few questions for you.</p>
      <hr class="middle1 form-survey">

      <p class="lead middle1">Which two task blocks were easier for you to complete?</p>
      <select class="lead custom-select my-1 mr-sm-2 middle1 form-survey option" id="easy-middle1">
        <option value="0">Select an option</option>
        <option value="First two">First Two Task Blocks</option>
        <option value="Second two">Second Two Task Blocks</option>
      </select>
      <p class="lead middle1">  </p>

      <p class="lead middle1">Which two task blocks did you prefer?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="prefer-middle1">
        <option value="0" selected>Select an option</option>
        <option value="First two">First Two Task Blocks</option>
        <option value="Second two">Second Two Task Blocks</option>
      </select>

      <p class="lead middle1">  </p>
      <small class="lead-small middle1" id="middle1-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small middle1"> </p>
      <button type="button" class="btn btn-primary middle1" id="middle1-button">Continue</button>
    </div>

		<div class="center-template transition1">
			<h1 class="transition1">THE SECOND TASK</h1>
			<p class="lead transition1">The first task is with the second AI.</p>
			<button type="button" class="btn btn-primary transition1" id="transition1-button">Continue</button>
		</div>

		<div class="center-template second-ai1">
      <h1 class="second-ai1">MEET YOUR TUTOR</h1>
      <p class="lead second-ai1">The second task is with the second AI.</p>
      <button type="button" class="btn btn-primary second-ai1" id="second-ai1-button">Continue</button>
    </div>

		<div class="center-template second-ai2">
			<h1 class="second-ai2">THE second TASK</h1>
			<p class="lead second-ai2">The second task is with the second AI.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai2-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 1</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai2">  </p>
			<button type="button" class="btn btn-primary second-ai2" id="second-ai2-button">Next</button>
		</div>

		<div class="center-template second-ai3">
			<h1 class="second-ai3">NEXT TASK</h1>
			<p class="lead second-ai3">The second task is with the second AI.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai3-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 2</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai3">  </p>
			<button type="button" class="btn btn-primary second-ai3" id="second-ai3-button">Next</button>
		</div>

		<div class="center-template second-ai4">
			<h1 class="second-ai4">NEXT TASK</h1>
			<p class="lead second-ai4">The second task is with the second AI.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai4-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 3</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai4">  </p>
			<button type="button" class="btn btn-primary second-ai4" id="second-ai4-button">Next</button>
		</div>

		<div class="center-template second-ai5">
			<h1 class="second-ai5">NEXT TASK</h1>
			<p class="lead second-ai5">The second task is with the second AI.</p>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="second-ai5-img"src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 4</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>
			<p class="lead second-ai5">  </p>
			<button type="button" class="btn btn-primary second-ai5" id="second-ai5-button">Next</button>
		</div>

		<div class="center-template question-ai5">
			<h1 class="question-ai5">QUESTION 1</h1>
			<p class="lead question-ai5">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai5-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 1</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form1-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai5">  </p>
			<small class="lead-small question-ai5" id="question-ai5-error">Please select an option before proceeding.</small>
			<p class="lead-small question-ai5"> </p>
			<button type="button" class="btn btn-primary question-ai5" id="question-ai5-button">Continue</button>
		</div>

		<div class="center-template question-ai6">
			<h1 class="question-ai6">QUESTION 2</h1>
			<p class="lead question-ai6">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai6-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 2</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form2-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai6">  </p>
			<small class="lead-small question-ai6" id="question-ai6-error">Please select an option before proceeding.</small>
			<p class="lead-small question-ai6"> </p>
			<button type="button" class="btn btn-primary question-ai6" id="question-ai6-button">Continue</button>
		</div>

		<div class="center-template question-ai7">
			<h1 class="question-ai7">QUESTION 3</h1>
			<p class="lead question-ai7">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai7-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 3</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form3-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai7">  </p>
			<small class="lead-small question-ai7" id="question-ai7-error">Please select an option before proceeding.</small>
			<p class="lead-small question-ai7"> </p>
			<button type="button" class="btn btn-primary question-ai7" id="question-ai7-button">Continue</button>
		</div>

		<div class="center-template question-ai8">
			<h1 class="question-ai8">QUESTION 4</h1>
			<p class="lead question-ai8">Please answer the question below</p>

			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<img id="question-ai8-img" src="media/James.png" height="120" width="120">
							<h5 class="card-title">Explanation 4</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<form id="form4-ai2">
								<input class="form-check-input" type="radio" name="radioName" value="1" /> 1 <br />
								<input class="form-check-input" type="radio" name="radioName" value="2" /> 2 <br />
								<input class="form-check-input" type="radio" name="radioName" value="3" /> 3 <br />
								<input class="form-check-input" type="radio" name="radioName" value="4" /> 4 <br />
								<input class="form-check-input" type="radio" name="radioName" value="5" /> 5 <br />
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<img src="media/square.png" height="400" width="500">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>

			<p class="lead question-ai8">  </p>
			<small class="lead-small question-ai8" id="question-ai8-error">Please select an option before proceeding.</small>
			<p class="lead-small question-ai8"> </p>
			<button type="button" class="btn btn-primary question-ai8" id="question-ai8-button">Continue</button>
		</div>

		<div class="center-template middle2">
      <h1 class="middle2">2nd AI SURVEY</h1>
      <p class="lead middle2">Here are a few questions for you.</p>
      <hr class="middle2 form-survey">

      <p class="lead middle2">Which two task blocks were easier for you to complete?</p>
      <select class="lead custom-select my-1 mr-sm-2 middle2 form-survey option" id="easy-middle2">
        <option value="0">Select an option</option>
        <option value="First two">First Two Task Blocks</option>
        <option value="Second two">Second Two Task Blocks</option>
      </select>
      <p class="lead middle2">  </p>

      <p class="lead middle2">Which two task blocks did you prefer?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="prefer-middle2">
        <option value="0" selected>Select an option</option>
        <option value="First two">First Two Task Blocks</option>
        <option value="Second two">Second Two Task Blocks</option>
      </select>

      <p class="lead middle2">  </p>
      <small class="lead-small middle2" id="middle2-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small middle2"> </p>
      <button type="button" class="btn btn-primary middle2" id="middle2-button">Continue</button>
    </div>

    <div class="center-template end1">
      <h1 class="end1">OVERALL SURVEY</h1>
      <p class="lead end1">Here are a few questions for you.</p>
      <hr class="end1 form-survey">

      <p class="lead end1">Which two task blocks were easier for you to complete?</p>
      <select class="lead custom-select my-1 mr-sm-2 end1 form-survey option" id="easy-end1">
        <option value="0">Select an option</option>
        <option value="First two">First Two Task Blocks</option>
        <option value="Second two">Second Two Task Blocks</option>
      </select>
      <p class="lead end1">  </p>

      <p class="lead end1">Which two task blocks did you prefer?</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="prefer-end1">
        <option value="0" selected>Select an option</option>
        <option value="First two">First Two Task Blocks</option>
        <option value="Second two">Second Two Task Blocks</option>
      </select>

      <p class="lead end1">  </p>
      <small class="lead-small end1" id="end1-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small end1"> </p>
      <button type="button" class="btn btn-primary end1" id="end1-button">Continue</button>
    </div>

		<div class="center-template end2">
      <h1 class="end2">DEMOGRAPHIC INFORMATION</h1>
      <p class="lead end2">Please answer the following questions. Note that you may have to scroll down to see all questions.</p>
      <hr class="end2 form-survey">

      <p class="lead end2">Please indicate your gender</p>
      <select class="lead custom-select my-1 mr-sm-2 form-survey option" id="gender-end2">
        <option value="0" selected>Select an option</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
				<option value="Other">Other</option>
      </select>

			<p class="lead end2">  </p>
			<p class="lead end2">Please indicate your age</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="age-end2">
				<option value="0" selected>Select an option</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">Have you taken the GRE before?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="gre-end2">
				<option value="0" selected>Select an option</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">Please indicate the highest level of education you have completed</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="education-end2">
				<option value="0" selected>Select an option</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>

			<p class="lead end2">  </p>
			<p class="lead end2">How familiar were you with the material presented in the interface?</p>
			<select class="lead custom-select my-1 mr-sm-2 form-survey option" id="familiar-end2">
				<option value="0" selected>Select an option</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>

      <p class="lead end2">  </p>
      <small class="lead-small end2" id="end2-error">Please fill out all the information before proceeding.</small>
      <p class="lead-small end2"> </p>
      <button type="button" class="btn btn-primary end2" id="end2-button">Continue</button>
    </div>

    <div class="center-template end3">
      <h1 class="end3">END</h1>
      <p class="lead end3">The study has ended. Thank you for your participation</p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts.js"></script>
  </body>

</html>
