.introduction2, .introduction3, .transition1, .middle1, .middle2, .end1, .end2, .end3 {
  display: none;
}

.first-ai1, .first-ai2, .first-ai3, .first-ai4, .first-ai5,
.second-ai1, .second-ai2, .second-ai3, .second-ai4, .second-ai5 {
  display: none;
}

.question-ai1, .question-ai2, .question-ai3, .question-ai4,
.question-ai5, .question-ai6, .question-ai7, .question-ai8 {
  display: none;
}

.lead-small {
  font-size:0.5rem;
  font-weight:100
}

.center-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.form-survey {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.option {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  text-align-last: center;
}

.red {
  color:red;
}
